
/*
 * fleuron.css
 *
 * core fleuron styles
 */

:root {
  /*--tree0-width-2: calc(5rem * 0.5);*/
}

.fleuron {
  width: 100%;
}
.fleuron-tree0 {
  display: inline-block;
  width: 4rem;
}
.fleuron-attributes {
  display: inline-block;
}
.fleuron-children {
  display: block;
  padding-left: 1rem;
}

