
/*
 * fleuron.css
 *
 * core fleuron styles
 */

:root {
  /*--tree0-width-2: calc(5rem * 0.5);*/
  --border-width: 4px;
  --border-color: lightgrey;
}

.fleuron {
}
.flrn {
  width: 100%;
  display: flex;
}
.flrn-head {
  width: 2rem;
}
.flrn-body {
  padding-top: 0.4rem;
  position: relative;
}
.flrn-tree0 {
  display: inline-block;
  vertical-align: top;
}
.flrn-atts {
  display: inline-block;
  margin-left: 0.4rem;
}

.flrn-head0 {
  width: 1.4rem;
  height: 1.4rem;
  border: var(--border-width) solid var(--border-color);
  background-color: white;
  border-radius: 1.4rem;
  margin-right: 0.3rem;
  margin-bottom: 0.1rem;
  vertical-align: top;
  position: relative;
}

.flrn-sequence > .flrn-body::before {
  content: "";
  position: absolute;
  background-color: var(--border-color);
  width: var(--border-width);
  height: 80%;
  top: 1.6rem;
  left: 0.85rem;
  z-index: -1;
}
.flrn-concurrence > .flrn-head > .flrn-head0 {
  min-height: calc(100% - 0.6rem);
}
.flrn-concurrence > .flrn-body > .flrn-children > .flrn-child > .flrn > .flrn-head > .flrn-head0::before {
  content: "";
  position: absolute;
  height: var(--border-width);
  background-color: var(--border-color);
  width: 2rem;
  top: 0.45rem;
  left: -0.9rem;
  z-index: -1;
}

