
/*
 * fleuron-vanilla.css
 *
 * a vanilla fleuro style
 */

/*
.fleuron {
  position: relative;
}
.fleuron-sequence > .fleuron-children > .fleuron > span {
  display: inline-block;
  overflow: hidden;
  height: 2rem;
  width: 2rem;
  border: 0.3rem solid grey;
  border-radius: 2rem;
  text-align: center;
  padding-top: 0.0rem;
  font-weight: bold;
}
*/

