
/*
 * fleuron.css
 *
 * core fleuron styles
 */

:root {
  /*--tree0-width-2: calc(5rem * 0.5);*/
}

.fleuron {
  position: relative;
  display: inline-block;
  width: 100%;
}
.fleuron-head {
  display: inline-block;
}
.fleuron-tree0 {
  display: inline-block;
}
.fleuron-attributes {
  display: inline-block;
  margin-left: 0.4rem;
  width: 75%;
}
.fleuron-children {
  display: block;
  padding-left: 1rem;
}
.fleuron > * {
  vertical-align: middle;
}

.fleuron-sequence > .fleuron-children > .fleuron-child > .fleuron > .fleuron-head {
  width: 1.4rem;
  height: 1.4rem;
  border: 4px solid blue;
  border-radius: 1.4rem;
  position: relative;
  top: 30%;
  margin-right: 0.3rem;
  margin-bottom: 0.1rem;
}
.fleuron-sequence > .fleuron-children > .fleuron-child > .fleuron > .fleuron-children {
  padding-left: 2rem;
}

